<div class="o-tpl">
  <header class="o-tpl__row o-tpl__header">
    <div class="o-tpl__size">
      HEADER
    </div>
  </header>

  <div class="o-tpl_row" [ngStyle]="{'background-color': 'gold'}">
    Another row
  </div>

  <main class="o-tpl__row o-tpl__main">
    <aside class="o-tpl__col o-tpl__aside">
      ASIDE
    </aside>

    <div class="o-tpl__col o-tpl__col--full o-tpl__content">
      
      <section class="o-tpl__col-section">
        Section 1
      </section>

      <section class="o-tpl__col-section">
        Section 2 <br> Lorem ipsum dolor sit amet
      </section>

      <section class="o-tpl__col-section">
        <div class="o-tpl__size">
          Section 2 <br> Lorem ipsum dolor sit amet
          Section 2 <br> Lorem ipsum dolor sit amet
        </div>
      </section>

      <section class="o-tpl__col-section o-tpl__col-section--scroll">
        <perfect-scrollbar class="o-tpl__col-section-scroll">
          <div class="o-tpl__size">
            Section 3

            <div *ngFor="let item of arr">
              {{i}} - CONTENT
            </div>
          </div>

        </perfect-scrollbar>
      </section>

      <section class="o-tpl__col-section o-tpl__col-section--scroll">
        <div class="o-tpl__col-section-scroll">
          <div class="o-tpl__size">
            Section 3

            <div *ngFor="let item of arr">
              {{i}} - CONTENT
            </div>
          </div>

        </div>
      </section>

      

      <!--
      <perfect-scrollbar class="o-tpl__col-section o-tpl__col-section--scroll">
        <div class="o-tpl__col-section-scroll">
          Section 4

          <div *ngFor="let item of arr">
            {{i}} - CONTENT
          </div>

        </div>
      </perfect-scrollbar>
      -->
    </div>
  </main>
</div>